numpy

In [ ]:
student={"name":"chitra","age":20, "course":"bsc cs"}
print(student)

{'name': 'chitra', 'age': 20, 'course': 'bsc cs'}

In [ ]:
print("welcome to python world")

welcome to python world

In [ ]:
! pip install numpy
import numpy as np
array_var=np.array([1,2,3,5,7,9])
print(array_var.mean())

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
4.5

# pandas

In [ ]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

import

In [ ]:
import pandas as pd
student_data={ "name":["krishna","raja","tamil"],
              "marks":[85,75,95]}
student_details=pd.DataFrame(student_data);
print(student_details)

      name  marks
0  krishna     85
1     raja     75
2    tamil     95

read csv file

In [ ]:
import pandas as pd
student_data_frame=pd.read_csv("example1.csv")
print(student_data_frame)

         Name   age  gender        location
0       asira  19.0  female          natham
1      chitra  19.0  female     vedachandur
2         uma  20.0  female       chempatti
3        devi  21.0  female        dindigul
4         sri  23.0  female         kovilur
5         anu  24.0  female         kovilur
6       tamil  19.0    male         kovilur
7        anbu  19.0    male         madurai
8    muthuvel   NaN    male        dindigul
9     renuga   30.0  female         chennai
10       arul  25.0    male           dheni
11    maruthu   NaN    male         madurai
12    janvika  30.0  female        thirupur
13       giri  29.0    male            gova
14     naveen  40.0    male          natham
15     suriya  45.0    male           theni
16       arun  27.0    male         madurai
17   sidharth  48.0    male        thenkasi
18      mousi  30.0  female      nilakottai
19     nabila   NaN  female        dindigul
20      keran  28.0    male          delhii
21      karan  19.0    male    uthrapradesh
22      vijay  21.0    male  kanniya kumari
23    gowtham  23.0    male         chennai
24        sam  34.0    male       vilupuram
25     sabari  26.0    male         banglur
26       vel   27.0    male          palani
27    muragan  30.0    male    thiruchandur
28       sira  21.0  female      coaimbadur
29  tamilanbu  22.0    male      coaimbadur

In [ ]:
student_data_frame.isnull()

     Name    age  gender  location
0   False  False   False     False
1   False  False   False     False
2   False  False   False     False
3   False  False   False     False
4   False  False   False     False
5   False  False   False     False
6   False  False   False     False
7   False  False   False     False
8   False   True   False     False
9   False  False   False     False
10  False  False   False     False
11  False   True   False     False
12  False  False   False     False
13  False  False   False     False
14  False  False   False     False
15  False  False   False     False
16  False  False   False     False
17  False  False   False     False
18  False  False   False     False
19  False   True   False     False
20  False  False   False     False
21  False  False   False     False
22  False  False   False     False
23  False  False   False     False
24  False  False   False     False
25  False  False   False     False
26  False  False   False     False
27  False  False   False     False
28  False  False   False     False
29  False  False   False     False

In [ ]:
student_data_frame.isnull().sum()

Name        0
age         3
gender      0
location    0
dtype: int64

In [ ]:
print(student_data_frame.head(5))

matplotlib

In [ ]:
! pip install matplotlib

import

In [ ]:
import matplotlib.pyplot as plt
students=["A","B","C","D","E"]
marks=[80,40,60,50,78]
plt.plot(students,marks)
plt.xlabel("students")
plt.ylabel("marks")
plt.title("Student Marks")
plt.show();

# data analysis

data analysis

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
accident_details=pd.read_csv("traffic_accident_dataset(chat).csv")
accident_details.head()
accident_details.shape
accident_details.info()
accident_details.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Accident_ID   1000 non-null   int64
 1   Hour          1000 non-null   int64
 2   Day           1000 non-null   object
 3   Weather       1000 non-null   object
 4   Road_Type     1000 non-null   object
 5   Vehicle_Type  1000 non-null   object
 6   Driver_Age    1000 non-null   int64
 7   Location      1000 non-null   object
 8   Severity      1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

       Accident_ID         Hour   Driver_Age
count  1000.000000  1000.000000  1000.000000
mean    500.500000    11.432000    43.367000
std     288.819436     7.147199    14.929072
min       1.000000     0.000000    18.000000
25%     250.750000     5.000000    31.000000
50%     500.500000    12.000000    43.000000
75%     750.250000    18.000000    57.000000
max    1000.000000    23.000000    69.000000

# data cleaning

In [ ]:
import pandas as pd
accident_details=pd.read_csv("traffic_accident_dataset(chat).csv")
accident_details.isnull()

,Accident_ID,Hour,Day,Weather,Road_Type,Vehicle_Type,Driver_Age,Location,Severity
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False

In [ ]:
accident_details.isnull().sum()

Accident_ID     0
Hour            0
Day             0
Weather         0
Road_Type       0
Vehicle_Type    0
Driver_Age      0
Location        0
Severity        0
dtype: int64